<div class="stack stack--space-200">
  <div class="stack stack--space-100">
    <h2 id="position">Position</h2>

    <p>Use <code>.position--#{relative | absolute | sticky-top | sticky-bottom}</code> to set the position attribute.</p>
  </div>

  <%= render 'example' do %>
    <div class="position--relative" style="height: 2rem">
      <div class="position--absolute" style="top: 1rem; left: 50%">Absolute</div>
    </div>
  <% end %>

  <p>Use <code>.position--#{breakpoint}-#{modifier}</code> to set the position attribute per breakpoint.</p>

  <%= render 'example' do %>
    <div class="position--relative" style="height: 2rem">
      <div class="position--md-absolute" style="top: 1rem; left: 50%">Absolute</div>
    </div>
  <% end %>
</div>
